{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Главная</title>
</head>

<body class="bg-gray-100">
    <div class="h-screen flex-row justify-center items-start bg-gray-100">
        <!-- Панель навигации -->
        <nav class="w-full h-28 flex justify-between items-center justify-center bg-white shadow-lg">
            <div class="h-full p-4 flex items-center justify-center">
                <h1 class="text-4xl text-center">Карта поверхности</h1>
            </div>
            <div class="h-full p-4 flex items-center justify-center">
                <input 
                    type="text" 
                    name="linker"
                    class="w-[800px] p-2 text-gray-800 text-xl placeholder-gray-400 bg-gray-100 border border-gray-300 rounded focus:outline focus:outline-primary-500 transition" 
                    placeholder="Адрес для получения данных"
                    required
                >
            </div>
        </nav>
        <!-- Основной контейнер -->
        <div class="w-full p-10 gap-10 flex justify-center items-start">
            <div class="flex justify-center">
                <div>
                    <img src="{% static 'map.png' %}" class="w-[768px] h-[768px] shadow-xl" style="image-rendering: pixelated;">
                </div>
            </div>
            <div class="grid gap-4 p-4 border shadow-lg rounded-lg">
                <form class="grid gap-4">
                    <div class="flex justify-left gap-4 items-center">
                        <input type="checkbox" name="modules">
                        <p class="text-xl">Расположение модулей</p>
                    </div>
                    <div class="flex justify-left gap-4 items-center">
                        <input type="checkbox" name="stations">
                        <p class="text-xl">Расположение станций</p>
                    </div>
                    <div class="flex justify-left gap-4 items-center">
                        <input type="checkbox" name="zones">
                        <p class="text-xl">Расположение станций с визуализацией зоны покрытия</p>
                    </div>
                    <button
                        type="submit"
                        name="submit_map"
                        class="w-full p-2 bg-blue-600 hover:bg-blue-700 text-center text-white text-xl font-semibold rounded shadow-md transition"
                    >
                        Отобразить карту
                    </button>
                    <p class="text-lg text-gray-400">! Для отображения карты введите адрес в верхней части экрана !</p>
                </form>
                <hr>
                <p class="text-2xl text-center">Легенда карты</p>
                <div class="w-full h-8 bg-gradient-to-r from-black via-red-500 to-[#ff0000]"></div>
                <div class="flex justify-between items-center">
                    <p>0</p>
                    <p>Высота рельефа</p>
                    <p>255</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>